<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>My Simple HTML Page</title>
    
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <header>
      <h1>Simple Diagram visualizer</h1>
    </header>
    <main>
      <div id="mainDiv">
        <div>
            <p><button id="connect">Get Token</button><div id="snackbar">Connection successful</div></p>
            <p><button id="getProcessDefinitions">Get Process definitions</button></p>
        </div>
        <div class="row, flex-container">
          <div class="column">
            <div id="processDefinitionDiv"></div>
          </div>
          <div class="column">
            <div id="canvas"></div>
          </div>
        </div>
      </div>

      <div id="process-instances"></div>


    </main>

    <!-- <script src="./utils.bundled.js"></script> 
        <script type="module">
import { camundaConnect } from './utils.bundled.js';-->
<script src="./camundaFunctions.bundled.js"></script>
    
  </body>

</html>
