/*
#processDefinitionTable {
  border-collapse: collapse;
  width: 100%;
}

#processDefinitionTable th,
#processDefinitionTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#processDefinitionTable th {
  background-color: #4caf50;
  color: white;
}

#processDefinitionTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#processDefinitionTable tr:hover {
  background-color: #ddd;
}
*/
/* Define primary color variable */
:root {
  --primary-color: #042549;
}

/* Set font family and size for entire document */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Set font and button styles for all buttons */
button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* Style the processDefinitionTable */
#processDefinitionTable {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

#processDefinitionTable th,
#processDefinitionTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#processDefinitionTable th {
  background-color: var(--primary-color);
  color: #fff;
}

/* Style the processInstanceTable */
#processInstanceTable {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

#processInstanceTable th,
#processInstanceTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#processInstanceTable th {
  background-color: var(--primary-color);
  color: #fff;
}

.flex-container {
  display: flex;
}

#canvas {
  width: 100%;
  height: 100%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
